# UI & Web
streamlit

# Telegram Bot
aiogram

# AI & APIs
google-generativeai
groq
huggingface-hub

# Data & Backend
supabase
python-dotenv
pydantic

# Media Processing
moviepy==1.0.3
edge-tts
imageio[ffmpeg]
numpy

# Utilities
requests
aiohttp
Pillow
